<!--<div style="max-height: 400px; overflow-y: auto">-->
<div [ngStyle]="getLatestBooksStyle()">
    <h3 style="font-style: italic; text-align: center">Latest additions to the library</h3>
    
    <ol class="list-books-ui" style="list-style-type: none;">
        <li>Introduction to Java programing</li>
        <li>Data structures and alogorithms in Java</li>
        <li>Theory of Recursive Functions and Effective Computability</li>
        <li>The Art of Computer Programming</li>
        <li>Object Oriented Programming using Java</li>
        <li>Introduction to Digital Signal and System Analysis</li>
        <li>An Introduction to Relational Database Theory</li>
        <li>A Practical Introduction to 3D Game Development</li>
        <li>Concise Notes on Data Structures and Algorithms</li>
    </ol>
</div>